.intake-dropdown {
    margin-top: 2px !important;
    margin-bottom: 18px !important;
    width: 1733px !important;
    padding: 3px 0px !important;
    color: #1A1A1A99 !important;
    border-radius: 5px !important;
    background-color: #1A1A1A0D !important;
    font-weight: 600 !important;
    font-size: 14px !important;

    .accordion-item {
        border: none !important;
        border: 1px solid #1A1A1A26 !important;
        border-radius: 5px !important;
        opacity: 1 !important;
    }
    .accordion-body {
        padding: 0px !important;
    }
    .dropdown-menu {
        padding: 5px 10px !important;
        color: #1A1A1A99 !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        background-color: #1A1A1A0D !important;
        border-radius: 5px !important;
        border: 1px solid #1A1A1A26 !important;
        z-index: 1000;
    }
    .accordion-button {
        width: 1730px !important;
    }
}