.nav-tabs {
  font-size: 16px;
  font-weight: 600;
  border-bottom: none !important;

  .nav-item {
    cursor: 'pointer' !important;
    .nav-link {
      color: #1a1a1a80;
      border: none;
    }
  }

  .nav-item.active {
    border-bottom: 2px solid #1b5984 !important;
    .nav-link {
      color: #1b5984 !important;
    }
  }
}

.tabbed-navigation-link {
  padding: 4px 15px !important;
}
