.nav-tabs-encounter {
    font-size: 16px;
    font-weight: 600;
    border-bottom: none !important;

    .nav-item {
        cursor: 'pointer' !important;

        .nav-link {
            color: #1a1a1a80;
            border: none;
        }
    }

    .nav-item.active {

        .nav-link {
            color: #1b5984 !important;
            background: white !important;
            border: 1px solid #1A1A1A33 !important;
            border-radius: 5px !important;
            transition: none;
        }
    }
}

.class {
    padding: 4px 15px !important;

}

.tabbed-navigation-link-encounter {
    padding: 4px 5px !important;
}